
.Footer {
  /* background-color: white; */
  background: var(  --nav-bg);
  margin-top: 30px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.LinksFooter {
margin: 20px 0;
}

.LinksFooter a {
  font-weight: 500;
  font-size: clamp(17px,4vw,20px);
  margin: 10px 20px ;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  display: inline-block;
  color: var(--black);

}
.LinksFooter a:hover {
  color: var(--black);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);

}
.outLinks {
  display: flex;
}

.outLinks a {
  background-color: var(--background);
  margin: 10px;
  /*padding: 10px;
  */display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  /* padding: 5px 10px; */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: var(--box);
}

.outLinks a span {
  color: var(--black);
  font-size: clamp(17px,4vw,22px);

}

.copy {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(17px,4vw,20px);
  color: var(--black);

}
.copy .imageFooter {
  margin: 0 10px;
}