* {
  box-sizing: border-box;
}

:root {
  --main-color: #1c4173;
  --main-color-2: #f69322;
  --white: white;
  --LastverytinyFont: 14px;
  --verytinyFont: 16px;
  --tinyFont: 17px;
  --lastMediumFont: 18px;
  --mediumFont: 20px;
  --largFont: 26px;
  --spanFont: 16px;
  --marginLine: 10px;
  --marginTinySection: 32px;
  --marginSection: 0px;
  /* --marginSection: 48px48px; */
  --marginBanar: 56px;
  --shadow: 0 16px 32px 0 rgba(112, 126, 147, 0.12);
}

body {
  /* background-color: #F3F4F6 !important; */
  overflow-x: hidden;
}

:is(h1, h2, h3, h4, h5, h6, p, a) {
  font-family: Droid Arabic Naskh, sans-serif;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-weight: 700 !important;
}

/* :is(h1, h2, h3, h4, h5, h6) {
  font-weight: 700 !important;
} */

@media (max-width: 767.98px) {
  .margin_mobile {
    margin-top: 0;
  }
}

.HomeLayoutbullets .swiper-pagination-bullet {
  background: var(--main-color) !important;
}

.HomeLayoutbullets .swiper-pagination-bullet-active {
  background: var(--main-color-2) !important;
}

.swiper-pagination-bullet {
  text-align: center !important;
  line-height: 20px !important;
  font-size: 12px !important;
  opacity: 1 !important;
  background: var(--white) !important;
  height: 6px !important;
  width: 13.200082778930664px !important;
  left: 0px;
  top: 0px;
  border-radius: 1.5000046491622925px !important;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-border-radius: 1.5000046491622925px !important;
  -moz-border-radius: 1.5000046491622925px !important;
  -ms-border-radius: 1.5000046491622925px !important;
  -o-border-radius: 1.5000046491622925px !important;
}

.swiper-pagination-bullet-active {
  background: var(--main-color-2) !important;
  height: 6px !important;
  width: 45.000282287597656px !important;
  border-radius: 1.5000046491622925px !important;
  -webkit-border-radius: 1.5000046491622925px !important;
  -moz-border-radius: 1.5000046491622925px !important;
  -ms-border-radius: 1.5000046491622925px !important;
  -o-border-radius: 1.5000046491622925px !important;
}

.main_title {
  text-align: right;
  padding: 0 0 15px;
  border-bottom: 1px solid var(--main-color-2);
  font-weight: bold;
  font-size: var(--largFont);
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 22px;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  text-decoration: none;
  color: black;
  display: block;
}

.main_title:hover {
  color: var(--main-color-2);
}

.medium_title {
  font-size: var(--lastMediumFont);
}

.tiny_title {
  font-size: var(--tinyFont);
}

.cramp {
  margin: var(--marginLine) 0;
}

.cramp span {
  margin: 0 5px;
  color: var(--main-color-2);
}

.cramp a {
  text-decoration: none;
  color: black;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  margin-bottom: 3px;
  font-size: 18px;
}

.cramp a:hover {
  color: var(--main-color-2);
}

.cramp a:last-of-type {
  color: var(--main-color-2);
}

.MainImage_cont {
  position: relative;
  width: 100%;
  aspect-ratio: 2 / 1;
}
.MainImage_cont img {
  width: 100%;
  height: 100%;
}

.About_container {
  margin-bottom: var(--marginTinySection);
}

.About_container h3 {
  font-size: var(--mediumFont);
  text-align: justify;
  line-height: 32px;
}

.About_container p {
  line-height: 32px;
  /* font-size: var(--lastMediumFont); */
  margin-bottom: 0;
  text-align: justify;
}

.shadow {
  padding: 10px 14px;
  margin-top: 20px;
  box-shadow: 0px 16px 32px rgba(112, 126, 147, 0.12) !important;
  background-color: white;
}

.input_div {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.about_shadow {
  margin-top: 0;
  margin-bottom: 40px;
  padding: 20px 10px;
}

.about_shadow .main_title {
  padding: 0 0 5px;
  margin-top: 5px;
}

.input_div input {
  width: 70%;
  background-color: #eee;
  border: none;
  padding: 16px 11px;
}

.input_div button {
  /* margin: 0 10px; */
  width: 25%;
  background-color: var(--main-color-2);
  color: var(--white);
  border: none;
  padding: 16px 24px;
}

.about_shadow .input_div input {
  width: 60%;
  padding: 10px 11px;
}

.about_shadow .input_div button {
  margin: 0 5px;
  width: 36%;
  padding: 10px 15px;
}

.about_shadow .input_div {
  margin-bottom: 0;
}

.latest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 5px 0; */
  padding-bottom: 5px;
  /* border-bottom: 1px solid var(--main-color-2); */
  border-bottom: 1px solid #f6932261;
  margin-bottom: var(--marginLine);
}

/* .latestCol:not(:last-of-type) .latest {
  border-bottom: 1px solid var(--main-color-2);

} */
.latestInfo {
  flex-basis: 50%;
}

.latest h3 {
  color: var(--main-color-2);
  font-size: var(--lastMediumFont);
}

.latest p {
  margin: 10px 0;
  font-size: var(--tinyFont);
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  line-height: 22px;
  /* align-items: ; */
}

.latest h4 {
  font-size: var(--verytinyFont);
  font-weight: bold;
}

.Most_view .latestInfo {
  flex-basis: 68%;
}

.Most_view .latest {
  align-items: flex-start;
  flex-direction: row;
}
.res_mob {
  display: none;
}
.res_web {
  display: block;
}
.main_res_web {
  width: fit-content;
}
.article_mob {
  color: white;
  text-decoration: none;
}
@media (max-width: 991.98px) {
  /* .MainImage_cont {
    min-height: 257.25px;
  } */
  .res_web {
    display: none !important;
  }
  .res_mob {
    /* flex-basis: 100% !important; */
    display: block !important;
  }
}

.footer_shadow .main_title {
  margin-top: 0;
}

.footer_shadow {
  padding: 15px 10px;
}

.footer_shadow .input_div {
  margin-bottom: 0;
}

.Dialog_div {
  flex-wrap: wrap;
}

.Dialog_div input {
  width: 45% !important;
  margin-bottom: 20px;
}

.Dialog_div div {
  width: 100% !important;
}

/* .p-sidebar-right .p-sidebar {
  width: 100% !important;
} */

.p-sidebar .p-sidebar-header {
  padding: 5px !important;
}

.Image_notFound {
  position: relative;
  width: 400px;
  height: 200px;
  margin: 30px auto 10px;
  /* margin-bottom: 20px; */
}

.Image_notFound img {
  width: 100%;
  height: 100%;
}

.NotFound {
  margin: 0 50px;
}

.NotFound h1 {
  color: var(--main-color);
  text-align: center;
  margin-bottom: 57px;
}

.MoreAtriclePagenation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 10px auto;
}

.MoreAtriclePagenation a {
  color: white;
  text-decoration: none;
  background-color: var(--main-color);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-weight: bold;
  font-size: 22px;
  margin: 0 10px;
}

.MoreAtriclePagenation .active_link {
  background-color: var(--main-color-2);
}

.p-accordion {
  width: 100% !important;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  flex-direction: row-reverse;
  font-weight: normal;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 1px solid black !important;
  background-color: transparent !important;
  /* padding: 5px; */
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  padding: 10px 0;
  color: black !important;
}

.p-accordion
  .p-accordion-header
  .p-accordion-header-link
  .p-accordion-toggle-icon {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.p-accordion-tab-active .p-accordion-toggle-icon {
  transform: rotate(0deg) !important;
  -webkit-transform: rotate(0deg) !important;
  -moz-transform: rotate(0deg) !important;
  -ms-transform: rotate(0deg) !important;
  -o-transform: rotate(0deg) !important;
}

.p-accordion-content {
  border: none !important;
  padding: 0 !important;
}

.p-accordion
  .p-accordion-header:not(.p-disabled)
  .p-accordion-header-link:focus {
  box-shadow: none;
  /* color: var(--main-color); */
}

.p-accordion
  .p-accordion-header:not(.p-disabled).p-highlight
  .p-accordion-header-link {
  /* color: var(--main-color); */
  font-weight: bold;
}

.MarginSection {
  margin-bottom: var(--marginSection);
}

.TopHeader {
  margin-bottom: var(--marginSection);
  margin-top: var(--marginSection);
}

.TopSectionHeader {
  margin-bottom: var(--marginTinySection);
  margin-top: var(--marginTinySection);
}
@media (max-width: 991.98px) {
  .input_div input {
    width: 60%;
  }

  .TopHeader {
    min-height: 40vh !important;
  }
  /* .TopNav{
    max-height : 30vh !important;
  } */

  .input_div button {
    width: 35%;
    padding: 10px;
    margin: 0 5px;
  }

  .MarginSection {
    margin-bottom: 20px;
  }

  .BannarHeight {
    min-height: 250px !important;
  }

  .LrgCRD {
    margin-bottom: 30px;
  }

  .MoreAtriclePagenation {
    justify-content: center;
    margin: 20px auto;
  }

  .Image_notFound {
    width: 320px;
  }

  .TopSectionHeader {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  /* .ToSectionCarisel {
    margin-top: 40px;
  } */
}

.RightDir {
  direction: rtl;
}

.LeftDir {
  direction: ltr;
}

.CrampRight {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  direction: rtl;
}

/* .CrampRight span {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
} */

.CrampLeft {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  direction: ltr;
}

.imageLatestCont {
  position: relative;
  width: 200px;
  height: 100px;
}

.imageLatestCont img {
  width: 100%;
  height: 100%;
}
@media (max-width: 991.98px) {
  .imageLatestCont {
    width: 140px;
    height: 70px;
  }
  .latestInfo h4 {
    font-size: 15px;
  }

  /* .article_body img {

    height: 100%;
  } */
}
/* Loading  */
.Loader {
  position: fixed;
  /* width: 500p; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff6b;
  z-index: 999999;
  top: 0;
  left: 0;
}

.mainLoader {
  background-color: white;
}

.LoadingImage {
  width: 300px;
  height: 300px;
  position: relative;
}

.LoadingImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.p-accordion .p-accordion-content {
  background-color: transparent;
}

.TestBanner a {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  flex-basis: calc(100% / 3);
}

.TestBanner a:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.TestBanner a span {
  font-size: 22px;
  font-weight: bold;
  padding: 10px 25px;
  display: bolck;
  background-color: white;
  color: #1c4173;
}

.TestBanner a h2 {
  margin: 15px auto 5px;
  font-size: var(--tinyFont);
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  /* margin-bottom: 0; */
  line-height: 25px;
  min-width: 200px;
  max-width: 90%;
}
.TestBanner a p {
  margin: 0 auto 5px;
  font-size: var(--tinyFont) !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  font-weight: normal;
  /* margin-bottom: 0; */
  line-height: 25px;
  min-width: 200px;
  max-width: 90%;
  text-align: justify;
}

.TestBanner div {
  width: 1px;
  height: 150px;
  border-left: 2px dotted white;
}

.article_body img {
  max-width: 100%;
  height: 100%;
}
.article_body {
  text-align: justify;
}
.article_body p {
  font-family: sans-serif;
  font-size: clamp(18px, 2vw, var(--mediumFont));
}
.Team_Container {
  margin-bottom: 20px;
}
.Team_image_cont {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 10px auto;
  background-color: #dde2e5;
}
.Team_image_cont img {
  width: 100%;
  height: 100%;
}
.Team_Info {
  text-align: center;
}
.Team_Title {
  color: var(--main-color);
  font-weight: bold;
}

.TestBanner p {
  margin: 0 auto;
}
/* .Team_Info p {
  color: var(--main-color);
  font-weight: bold;
} */
/* .Team_Info h3 {
} */

/* .main_Web_Comtainer {
  padding: 0 10px;
}

@media (min-width: 1400px) {
  .main_Web_Comtainer {
    padding: 0 5rem;
  }
}

@media (min-width: 2000px) {
  .main_Web_Comtainer {
    padding: 0 10rem;
  }
} */

/* Start 
=======================================================
=======================================================
=======================================================

*/
.ql-size-small {
  font-size: 0.75em;
}
.ql-size-large {
  font-size: 1.5em;
}
.ql-size-huge {
  font-size: 2.5em;
}

@media (min-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 80vw !important;
    /* max-width: 1470px !important; */
    /* max-width: 1320px; */
  }
}
.image_banner_herezontal {
  display: block;
  height: 100%;
}

.ImageCont_herezoontal {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  overflow: hidden;
  background-color: transparent;
  height: 100%;
}

.ImageCont_herezoontal img {
  width: 100%;
  height: 100%;
}

.ImageCont_herezoontal::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
  top: 0;
  left: 0;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}
.ImageCont_herezoontal:hover::after {
  background-blend-mode: multiply;
  background-color: rgba(209, 167, 83, 0.2);
}

.ImageCont_herezoontal:hover::before {
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate(45deg) translate3d(0, 100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate(45deg) translate3d(0, 100%, 0);
  top: 12px;
  left: -90px;
}
.ImageCont_herezoontal::before {
  z-index: 1;
  position: absolute;
  top: -12px;
  left: 90px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  content: "";
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  -o-transition: -o-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s, -o-transform 0.6s;
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate(45deg) translate3d(0, -100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate(45deg) translate3d(0, -100%, 0);
}
